header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.4s;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 80%;
}
.logo img {
  height: 100%;
  object-fit: contain;
}
header .container div {
  display: flex;
  align-items: center;
}

header .container div > ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

header .container div > ul li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: white;
}
header.scroll {
  transition: 0.4s;
  /* background-color: rgba(255, 255, 255, 0.933); */
  background-color: rgba(4, 10, 68, 0.933);
}
header.scroll .container div > ul li a {
  /* color: black; */
}
#bar_menu {
  color: white;
}
#bar_menu,
#cancel_btn {
  display: none;
  font-size: 24px;
}
#cancel_btn {
  font-size: 30px;
}
@media (max-width: 1200px) {
  header .container div > ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  header .container {
    align-items: center;
  }
  header .container div#ul {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    align-items: flex-start;
    transform: translateX(100%);
    transition: 0.4s;
  }
  header .container div#ul.show {
    transform: translateX(0);
  }
  header .container div#ul ul {
    flex-direction: column;
    padding: 90px 20px 20px 60px;
    align-items: flex-start;
  }
  header .container div > ul li::marker {
    color: rgba(127, 97, 14, 1);
    font-weight: 700;
    font-size: 18px;
  }
  header .container div > ul li {
    list-style: decimal-leading-zero;
  }
  header .container div ul li a {
    color: black;
  }
  #bar_menu,
  #cancel_btn {
    display: block;
  }
  #cancel_btn {
    position: absolute;
    top: 45px;
    transform: translateY(-50%);
    right: 20px;
    z-index: 22222;
  }
}
